* {
    margin: 0;
    padding: 0;
}

body {
    font: 16px/1.5em "宋体", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

ul,li,ol {
    list-style: none;
}
a {
    text-decoration: none;
    color: #000;
}
.container:before,.container:after ,.clearfloat:before,.clearfloat:after {
    display: table;
    content: "";
    line-height: 0;
}

.container:after ,.clearfloat:after{
    clear: both;
}

.container {
    width: 74%;
    margin: 0 auto;
    min-width: 1000px;
    overflow: hidden;
}

.color-blue {
    color: #2196F3;
}

.nav {
    height: 60px;
    background: #fafafa;
    margin-bottom: 20px;
}

.nav h1 {
    float: left;
    color: #2196F3;
    font-weight: 100;
    font-family: "楷体" ，WenQuanYi Micro Hei, Verdana, Aril, sans-serif;
}


.nav h1 img {
    float: left;
    margin-top: 10px;
}

.nav h1 span {
    display: block;
    float: left;
    margin: 18px 8px 0 6px;
}

.nav ul {
    float: left;
}

.nav ul li {
    float: left;
    margin: 20px 6px 0 20px;
}

.nav ul li a:hover{
     color: #2196F3;

}
.nav .nav-right {
    float: right;
    margin-top: 20px;
    font-size: 14px;
}

.nav .nav-right a {
    padding: 0 8px;
}

/*上面导航部分结束*/
/*底部样式*/
.footer {
    clear: both;
    margin-top: 60px;
    height: 240px;
    background: #fafafa;
}
.footer dl {
    float: left;
    margin: 40px 7%;
}
.footer .foot-dl1{
	margin-left: 5%;
}
.footer dl dt {
    font-size: 18px;
}

.footer dl dd {
    margin-top: 6px;
    font-size: 14px;
    color: #666;
}

.footer .foot-dl3 {
    float: right;
    margin-right: 7%;
}

/*------------------公共部分结束--------------------*/

.login-min-mask{
    z-index: 998;
    background-color: #ccc;
    opacity: 0.8;
    filter: Alpha(Opacity=80);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.login-min{
    z-index: 999;
    position: absolute;
    top: 20%;
    left: 50%;
    margin-left: -239px;
}

.login-min-content{
    position: relative;
}

.login-min-close{
    position: absolute;
    right: 20px;
    top: 20px;
}
.login-min iframe{
    background: #fff;
}




